ul#board {
    li {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        list-style: none;
        float: left;

        &:after {
            font-size: 80px;
            position: relative;
            top: 60px;
            left: 60px;
        }

        &:nth-child(4),&:nth-child(7)  {
            clear: left;
        }

        &.cross {
            &:after {
                content: " X ";
            }
        }

        &.circle {

            &:after {
                content: " O ";
            }
        }

    }
}