body{
    font-family: 'Rock Salt', cursive;
    margin-top: 40px;

    ul#board {
        &.circle-wins:after{
            content: "O wins!";
            font-size: 70px;
            text-transform: uppercase;
            color: #000000;
            width: 500px;
            height: 100px;
            position: relative;
            top: 150px;
            left: 190px
            
        }
        &.cross-wins:after{
            content: "X wins!";
            font-size: 70px;
            text-transform: uppercase;
            color: #000000;
            width: 500px;
            height: 100px;
            position: relative;
            top: 150px;
            left: 190px
        }
        &.draw:after{
            content: "It's a draw!";
            font-size: 70px;
            text-transform: uppercase;
            color: #000000;
            width: 500px;
            height: 100px;
            position: relative;
            top: 150px;
            left: 110px;
        }
        li {
            width: 200px;
            height: 200px;
            border: 1px solid black;
            list-style: none;
            float: left;

            &:after {
                font-size: 80px;
                position: relative;
                left: 60px;
            }

            &:nth-child(4),&:nth-child(7)  {
                clear: left;
            }

            &.cross {
                &:after {
                    content: "X";
                }
            }

            &.circle {

                &:after {
                    content: "O";
                }
            }

        }
    }

    #button {
        display: none;

        &.active {
            display: inline;
        }
        background-color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        width: 210px;
        height: 120px;
        position: relative;
        top: 120px;
        left: 260px;
        text-transform: uppercase;
        cursor: pointer;
        background-image: url(img/marker-circle.gif);
        background-size: 209px;
        background-repeat: no-repeat;
        border: none;
    }
}